doctype
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Ideadesign
		meta(name='description', content='Esprendimai')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
		link(rel='stylesheet', href='http://www.jacklmoore.com/colorbox/example2/colorbox.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css')
		link(rel='stylesheet', href='./css/custom.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js")
		script(src='scripts/script.js')
	body#inner
		header
			.logo
				img(src="http://ideadesign.alcod.net/images/idealogo.png")
			nav
				ul
					li
						a(href="./") Pradinis
							.hover
					li.dropdown
						a(href="./naujiena.html") Tapetai
							.hover
						ul
							li
								a(href="#") Tapetas 1
							li
								a(href="#") Tapetas 2
							li
								a(href="#") Tapetas 3
							li
								a(href="#") Tapetas 4
							li
								a(href="#") Tapetas 5
					li
						a(href="./naujiena.html") Audiniai
							.hover
					li
						a(href="./naujiena.html") Parketlentės
							.hover
					li
						a(href="./naujiena.html") Aksesuarai
							.hover
					li
						a(href="./naujienos.html") Naujienos
							.hover
					li
						a(href="./kontaktai.html") Kontaktai
							.hover
		main
			section#gallery
				h1 Galerija
				.gallery-wrapper
					.gallery-item
						a(href="./assets/naujiena.jpg").gallery-image
							img(src="./assets/naujiena.jpg")
					.gallery-item
						a(href="https://static.wixstatic.com/media/5d5b2f_9759db09f445477598552916c67d9116.jpg/v1/fill/w_1475,h_830,al_c,q_90,usm_0.66_1.00_0.01/5d5b2f_9759db09f445477598552916c67d9116.jpg").gallery-image
							img(src="https://static.wixstatic.com/media/5d5b2f_9759db09f445477598552916c67d9116.jpg/v1/fill/w_1475,h_830,al_c,q_90,usm_0.66_1.00_0.01/5d5b2f_9759db09f445477598552916c67d9116.jpg")
					.gallery-item
						a(href="./assets/naujiena.jpg").gallery-image
							img(src="./assets/naujiena.jpg")
					.gallery-item
						a(href="./assets/naujiena.jpg").gallery-image
							img(src="./assets/naujiena.jpg")
					.gallery-item
						a(href="./assets/naujiena.jpg").gallery-image
							img(src="./assets/naujiena.jpg")
					.gallery-item
						a(href="./assets/naujiena.jpg").gallery-image
							img(src="./assets/naujiena.jpg")
					.gallery-item
						a(href="./assets/naujiena.jpg").gallery-image
							img(src="./assets/naujiena.jpg")
			footer UAB "STILIAUS MEDIS" +370 600 00000 
				a(href="mailto: info@ideadesign.lt") info@ideadesign.lt