doctype
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Ideadesign
		meta(name='description', content='Esprendimai')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/flexslider.css')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css')
		link(rel='stylesheet', href='./css/custom.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
	body#inner
		header
			.logo-wrapper
				.logo
					img(src="http://ideadesign.alcod.net/images/idealogo.png")
				.burger-menu
					.burger
			nav
				ul
					li
						a(href="./naujiena.html" data-toggle="3").toggle Tapetai
							.hover
					li
						a(href="./naujiena.html" data-toggle="4").toggle Audiniai
							.hover
					li
						a(href="./naujiena.html" data-toggle="5").toggle Parketlentės
							.hover
					li
						a(href="./naujiena.html" data-toggle="6").toggle Aksesuarai
							.hover
					li
						a(href="./naujienos.html" data-toggle="2").toggle Naujienos
							.hover
					li
						a(href="./kontaktai.html" data-toggle="1").toggle Kontaktai
							.hover
			.nav-footer
				a(href="#")
					i.fa.fa-facebook-square
				a(href="#")
					i.fa.fa-envelope
				a(href="#")
					i.fa.fa-instagram
		main
			section#new
				article
					.new-image
						.flexslider
							ul.slides
								li
									img(src="/assets/tapetai/Carolyn Trellis Cropped_300RGB.jpg")
								li
									img(src="/assets/tapetai/CHE_Jolie_HI.jpg")
								li
									img(src="/assets/tapetai/Cozumel_300RGB.jpg")
					.article-wrapper
						h1
							span Ta
							| petai
						.tapet-name Giardini
						.tapet-text Lorem ipsum dolor sit amet, nec ancillae delicata interpretaris ei, in pro viris recusabo repudiare, et duis conclusionemque mel.
						a(href="#" target="_blank").tapet-link Gamintojo puslapis
		aside
			.aside-title Gamintojai
			.aside-content
				ul
					li
						a(href="http://texamhome.com/collections/" target="_blank")
							img(src="/assets/gamintojai/texam-logo.png")
					li
						a(href="http://www.smithandfellows.co.uk/collections/" target="_blank")
							img(src="/assets/gamintojai/Smith-Fellows-Logo-RGB.png")
					li
						a(href="https://www.hohenberger-wallcoverings.com/seite/243104/collections.html" target="_blank")
							img(src="/assets/gamintojai/logo_mit_slogan.png")
					li
						a(href="http://www.portofinoselecta.com/index.php/en/" target="_blank")
							img(src="/assets/gamintojai/Portofino.png")
					li
						a(href="http://www.marburg.com/index.php?navID=32" target="_blank")
							img(src="/assets/gamintojai/marburg_wallcoverings (1).png")
					li
						a(href="http://www.durosweden.se/tapet/" target="_blank")
							img(src="/assets/gamintojai/Duro-logo.png")
					li
						a(href="http://www.giardiniwallcoverings.it/" target="_blank")
							img(src="/assets/gamintojai/giardini-wallpaper-logo.png")
	script(src='js/jquery.flexslider.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js')
	script(src='js/shCore.js')
	script(src='js/shBrushXml.js')
	script(src='js/shBrushJScript.js')
	script(src='js/jquery.easing.js')
	script(src='scripts/script.js')