doctype
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Ideadesign
		meta(name='description', content='Esprendimai')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css')
		link(rel='stylesheet', href='./css/custom.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
		script(src='scripts/script.js')
	body#inner
		header
			.logo
				img(src="http://ideadesign.alcod.net/images/idealogo.png")
			nav
				ul
					li
						a(href="./naujiena.html" data-toggle="3").toggle Tapetai
							.hover
					li
						a(href="./naujiena.html" data-toggle="4").toggle Audiniai
							.hover
					li
						a(href="./naujiena.html" data-toggle="5").toggle Parketlentės
							.hover
					li
						a(href="./naujiena.html" data-toggle="6").toggle Aksesuarai
							.hover
					li
						a(href="./naujienos.html" data-toggle="2").toggle Naujienos
							.hover
					li
						a(href="./kontaktai.html" data-toggle="1").toggle Kontaktai
							.hover
			.nav-footer
				a(href="#")
					i.fa.fa-facebook-square
				a(href="#")
					i.fa.fa-envelope
				a(href="#")
					i.fa.fa-instagram
		main
			section#news
				h1 Naujienos
				.news-wrapper
					figure
						img(src="./assets/naujiena.jpg")
						figcaption
							h2 Naujienos pavadinimas
							p Lorem ipsum dolor sit amet, conse adispei elit. sed diam moasdnmwn tincu i ut ded eta...
						a(href="./naujiena.html").show-more Daugiau
					figure
						img(src="./assets/naujiena.jpg")
						figcaption
							h2 Naujienos pavadinimas
							p Lorem ipsum dolor sit amet, conse adispei elit. sed diam moasdnmwn tincu i ut ded eta...
						a(href="./naujiena.html").show-more Daugiau
					figure
						img(src="./assets/naujiena.jpg")
						figcaption
							h2 Naujienos pavadinimas
							p Lorem ipsum dolor sit amet, conse adispei elit. sed diam moasdnmwn tincu i ut ded eta...
						a(href="./naujiena.html").show-more Daugiau
			footer UAB "STILIAUS MEDIS" +370 600 00000 
				a(href="mailto: info@ideadesign.lt") info@ideadesign.lt