section#slider {
	.slider-wrapper {
		position: relative;

		img {
			width: 100%;
		}

		.slides {

			li {
				height: 500px;
			}

			img {

			}
		}
	}

	p.slider-text {
		margin-top: 4em;
		color: #616862;
		line-height: 1.8;
	}
}